*{
    box-sizing: border-box;
    transition: 1s ease-in-out;
}
body{
    position: relative;
    font-family: sans-serif;
    background-color: #f1faee;
    overflow-x: hidden;
}

.bg{
    max-width: 1000px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f9c74f;
    left: -40%;
    top: -40px;
    transform: rotate(45deg);
    z-index: -1;   
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.1);
    transition: 2s ease-in-out;
    animation: bg 4s ease-in-out;
}
@keyframes bg{
    from{
        left: -70%;
    }to{
        left: -40%;
    }
}
.bg2{
    max-width: 1000px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 90px;
    font-weight: normal;
    text-transform: uppercase;
    position: absolute;
    background-color: #faa307;
    left: -20%;
    transform: rotate(40deg);
    z-index: -2;
    animation: bg2 2s ease-in-out;
}
@keyframes bg2{
    from{
        left: -70%;
    }to{
        left: -20%;
    }
}
.bg2 p{
    margin-left: 80px;
    animation: text 6s ease-in-out;
}
@keyframes text{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.bg3{
    max-width: 1000px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    text-align: center;
    top: -40%;
    right: 200px;
    position: absolute;
    background-color: #faa307;
    transform: rotate(40deg);
    z-index: -2;
    animation: bg3 2s ease-in-out;
}
@keyframes bg3{
    from{
        right: -100%;
    }to{
        right: 200px;
    }
}
.bg4{
    max-width: 1000px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 70px;
    right: 200px;
    font-weight: normal;
    text-transform: uppercase;
    position: absolute;
    background-color: #f9c74f;
    transform: rotate(40deg);
    z-index: -4;
    animation: bg4 4s ease-in-out;
}
@keyframes bg4 {
    from{
        right: -80%;
    }to{
        right: 200px;
    }
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;

    /* justify-content: center;
    align-items: center; */
}
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
.display{
    width: 100%;
    background-color: #f9c74f;
    color: white;
    text-align: center;
    padding: 10px;
}
.angka-wrapper{
    padding: 10px;
}
.hasil-wrapper{
    padding: 10px;
}
.display span{
    padding: 20px;
    font-size: 40px;
}
.button-wrapper{
    display: flex;
}

.number{
    width: 25%;
    background-color: #5d6268;
    padding: 35px;
    font-size: 1.3em;
    text-align: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, .1);
    cursor: pointer;
    transition: .2s ease-in-out;
}
.number:hover{
    font-weight: 600;
    background-color: gray;
}
.number:active{
    line-height: 20px;
}
.top{
    flex-basis: 50%;
}
.equals{
    flex-basis: 100%;
    background-color: #f9c74f;
    font-size: 32px;
}
.equals:hover{
    background-color: #ffba08;
}

.history-wrapper{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #faa307;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    color: white;
}
.card-history h2{
    text-transform: uppercase;
    text-align: center;
}
table{
    font-size: 24px;
}
.card-history{
    display: flex;
    flex-direction: column;
}
thead, tbody{
    text-align: center;
}

@media only screen and (max-width: 1140px){
    .bg4{
        display: none;
    }
}
@media only screen and (max-width: 992px){
    .bg{
        display: none;
    }
    .bg2{
        display: none;
    }
    .bg3{
        display: none;
    }
    .bg4{
        display: none;
    }
    .bg2 p{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .bg{
        display: none;
    }
    .bg2{
        display: none;
    }
    .bg3{
        display: none;
    }
    .bg4{
        display: none;
    }
    .bg2 p{
        display: none;
    }
    section{
        flex-direction: column;
    }
}
@media only screen and (max-width: 600px){
    .bg{
        display: none;
    }
    .bg2{
        display: none;
    }
    .bg3{
        display: none;
    }
    .bg4{
        display: none;
    }
    .bg2 p{
        display: none;
    }
    section{
        flex-direction: column;
    }
    table{
        font-size: 14px;
    }
}